﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSPA.SDR.Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon icon -->
    <link rel="icon" href="https://dashboardkit.io/bootstrap/assets/images/favicon.svg" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/feather.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="../assets/fonts/material.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="../assets/css/customizer.css">
    <link href="../assets/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style>
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Single Data Repository</a>
                        </li>-->
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>*@
    <!--</ul>
                </div>
            </div>
        </nav>
    </header>-->
    <!-- [ Pre-loader ] start -->
    @*<div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>*@
    <!-- [ Pre-loader ] End -->
    <!-- [ Mobile header ] start -->
    <!--<div class="pc-mob-header pc-header">
        <div class="pcm-logo">
            <img src="../assets/images/logo.png" alt="" class="logo logo-lg">
        </div>
        <div class="pcm-toolbar">
            <a href="#!" class="pc-head-link" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>-->
                <!-- <i data-feather="menu"></i> -->
            <!--</a>
            <a href="#!" class="pc-head-link" id="headerdrp-collapse">
                <i data-feather="align-right"></i>
            </a>
            <a href="#!" class="pc-head-link" id="header-collapse">
                <i data-feather="more-vertical"></i>
            </a>
        </div>
    </div>-->
    <!-- [ Mobile header ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pc-sidebar ">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="index.html" class="b-brand">
                    <!-- ========   change your logo hear   ============ -->
                    <img src="../assets/images/logo.png" style="width:112%" alt="" class="logo logo-lg">
                    <img src="../assets/images/logo.png" alt="" class="logo logo-sm">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item pc-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="../Home" class="pc-link ">
                            <span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="../Home/SearchByCNIC" class="pc-link">
                            <span class="pc-micon"><i class="material-icons-two-tone">search</i></span><span class="pc-mtext">Search By CNIC</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="../Home/Programs" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">card_giftcard</i>
                            </span><span class="pc-mtext">Programs</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>
                    @*<li class="pc-item pc-hasmenu">
                        <a href="../Home/ProgramAnalytics" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">account_circle</i>
                            </span><span class="pc-mtext">Program Analytics</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>*@
                    <li class="pc-item pc-hasmenu">
                        <a href="../Home/DetailedAnalytics" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">account_circle</i>
                            </span><span class="pc-mtext">Detailed Analytics</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="../Home/SocialProtectionExpenses" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">account_circle</i>
                            </span><span class="pc-mtext">Social Protection Expenses</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    @*<header class="pc-header ">
    </header>*@
    <div class="pc-container">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - PSPA.SDR.Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <!-- Required Js -->
    @*<script src="../assets/js/plugins/popper.min.js"></script>
        <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="../assets/js/plugins/bootstrap.min.js"></script>
        <script src="../assets/js/plugins/feather.min.js"></script>
        <script src="../assets/js/pcoded.js"></script>*@


    <script>
        feather.replace();
        var pctoggle = document.querySelector("#pct-toggler");
        if (pctoggle) {
            pctoggle.addEventListener('click', function () {
                if (!document.querySelector(".pct-customizer").classList.contains('active')) {
                    document.querySelector(".pct-customizer").classList.add("active");
                } else {
                    document.querySelector(".pct-customizer").classList.remove("active");
                }
            });
        }

        var custsidebrand = document.querySelector("#cust-sidebrand");
        custsidebrand.addEventListener('click', function () {
            if (custsidebrand.checked) {
                document.querySelector(".m-header").classList.add("bg-dark");
                document.querySelector(".theme-color.brand-color").classList.remove("d-none");
            } else {
                removeClassByPrefix(document.querySelector(".m-header"), 'bg-');
                // document.querySelector(".m-header > .b-brand > .logo-lg").setAttribute('src', '../assets/images/logo-dark.svg');
                document.querySelector(".theme-color.brand-color").classList.add("d-none");
            }
        });


        var brandcolor = document.querySelectorAll(".brand-color > a");
        for (var t = 0; t < brandcolor.length; t++) {
            var c = brandcolor[t];
            c.addEventListener('click', function (event) {
                var targetElement = event.target;
                if (targetElement.tagName == "SPAN") {
                    targetElement = targetElement.parentNode;
                }
                var temp = targetElement.getAttribute('data-value');
                if (temp == "bg-default") {
                    removeClassByPrefix(document.querySelector(".m-header"), 'bg-');
                } else {
                    removeClassByPrefix(document.querySelector(".m-header"), 'bg-');
                    document.querySelector(".m-header > .b-brand > .logo-lg").setAttribute('src', 'https://dashboardkit.io/bootstrap/assets/images/logo.png');
                    document.querySelector(".m-header").classList.add(temp);
                }
            });
        }


        var headercolor = document.querySelectorAll(".header-color > a");
        for (var h = 0; h < headercolor.length; h++) {
            var c = headercolor[h];

            c.addEventListener('click', function (event) {
                var targetElement = event.target;
                if (targetElement.tagName == "SPAN") {
                    targetElement = targetElement.parentNode;
                }
                var temp = targetElement.getAttribute('data-value');
                if (temp == "bg-default") {
                    removeClassByPrefix(document.querySelector(".pc-header:not(.pc-mob-header)"), 'bg-');
                } else {
                    removeClassByPrefix(document.querySelector(".pc-header:not(.pc-mob-header)"), 'bg-');
                    document.querySelector(".pc-header:not(.pc-mob-header)").classList.add(temp);
                }
            });
        }


        var custside = document.querySelector("#cust-sidebar");
        custside.addEventListener('click', function () {
            if (custside.checked) {
                document.querySelector(".pc-sidebar").classList.add("light-sidebar");
                // document.querySelector(".pc-horizontal .topbar").classList.add("light-sidebar");
            } else {
                document.querySelector(".pc-sidebar").classList.remove("light-sidebar");
                // document.querySelector(".pc-horizontal .topbar").classList.remove("light-sidebar");
            }
        });


        var custdarklayout = document.querySelector("#cust-darklayout");
        custdarklayout.addEventListener('click', function () {
            if (custdarklayout.checked) {
                document.querySelector("#main-style-link").setAttribute('href', '../assets/css/style-dark.css');
            } else {
                document.querySelector("#main-style-link").setAttribute('href', '../assets/css/style.css');
            }
        });
        function removeClassByPrefix(node, prefix) {
            for (let i = 0; i < node.classList.length; i++) {
                let value = node.classList[i];
                if (value.startsWith(prefix)) {
                    node.classList.remove(value);
                }
            }
        }
    </script>

    <script src="../assets/js/plugins/simple-datatables.js"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("#pc-dt-simple");
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
