﻿body {
}
.dataTables_info{
    display:none;
}
.paginate_button {
    display: none;
}
.dataTables_filter {
    display: none;
}
.dataTables_length {
    display: none;
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

th {
    position: sticky;
    top: 0;
}

/*.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    width: 280px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}*/

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}
/*secetion*/
.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 8px
}

    .progress div {
        background-color: red
    }

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: springgreen;
}


/*Pi Chart CSS*/
PIChartcontainer {
    height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/*animation Cards*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #232427;
}*/

    body .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 20px 0;
    }

        body .container .card {
            position: relative;
            min-width: 270px;
            height: 250px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            margin: 10px;
            transition: 0.5s;
            /*background-color: #343684; */
            background-color: #33df78;
        }

            body .container .card:nth-child(1) .box .content a {
                background: #2196f3;
            }

            body .container .card:nth-child(2) .box .content a {
                background: #e91e63;
            }

            body .container .card:nth-child(3) .box .content a {
                background: #23c186;
            }

            body .container .card .box {
                position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px;
                /*background: #2a2b2f;*/
                background: #071341;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: 0.5s;
            }

                body .container .card .box:hover {
                    transform: translateY(-50px);
                }

                body .container .card .box:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.03);
                }

                body .container .card .box .content {
                    padding: 20px;
                    text-align: center;
                }

                    body .container .card .box .content h2 {
                        position: absolute;
                        top: -10px;
                        right: 30px;
                        font-size: 8rem;
                        color: rgba(255, 255, 255, 0.1);
                    }

                    body .container .card .box .content h3 {
                        font-size: 1.8rem;
                        color: #fff;
                        z-index: 1;
                        transition: 0.5s;
                        margin-bottom: 15px;
                    }

                    body .container .card .box .content p {
                        font-size: 1rem;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.9);
                        z-index: 1;
                        transition: 0.5s;
                    }

                    body .container .card .box .content a {
                        position: relative;
                        display: inline-block;
                        padding: 8px 20px;
                        background: black;
                        border-radius: 5px;
                        text-decoration: none;
                        color: white;
                        margin-top: 20px;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                        transition: 0.5s;
                    }

                        body .container .card .box .content a:hover {
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
                            background: #fff;
                            color: #000;
                        }

/*table CSS*/
/*.demo {
    font-family: 'Noto Sans', sans-serif;
}

.panel {
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}

    .panel .panel-heading {
        padding: 20px 15px;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

        .panel .panel-heading .title {
            color: #fff;
            font-size: 28px;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 40px;
            margin: 0;
        }

        .panel .panel-heading .btn {
            color: rgba(255,255,255,0.5);
            background: transparent;
            font-size: 16px;
            text-transform: capitalize;
            border: 2px solid #fff;
            border-radius: 50px;
            transition: all 0.3s ease 0s;
        }

            .panel .panel-heading .btn:hover {
                color: #fff;
                text-shadow: 3px 3px rgba(255,255,255,0.2);
            }

        .panel .panel-heading .form-control {
            color: #fff;
            background-color: transparent;
            width: 35%;
            height: 40px;
            border: 2px solid #fff;
            border-radius: 20px;
            display: inline-block;
            transition: all 0.3s ease 0s;
        }

            .panel .panel-heading .form-control:focus {
                background-color: rgba(255,255,255,0.2);
                box-shadow: none;
                outline: none;
            }

            .panel .panel-heading .form-control::placeholder {
                color: rgba(255,255,255,0.5);
                font-size: 15px;
                font-weight: 500;
            }

    .panel .panel-body {
        padding: 0;
    }

        .panel .panel-body .table thead tr th {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 12px;
            border: none;
        }

        .panel .panel-body .table tbody tr td {
            color: #fff;
            font-size: 15px;
            padding: 10px 12px;
            vertical-align: middle;
            border: none;
        }

        .panel .panel-body .table tbody tr:nth-child(even) {
            background-color: rgba(255,255,255,0.05);
        }

        .panel .panel-body .table tbody .action-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .panel .panel-body .table tbody .action-list li {
                display: inline-block;
                margin: 0 5px;
            }

                .panel .panel-body .table tbody .action-list li a {
                    color: #fff;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    transition: all 0.3s ease 0s;
                }

                    .panel .panel-body .table tbody .action-list li a:hover {
                        text-shadow: 3px 3px 0 rgba(255,255,255,0.3);
                    }

                    .panel .panel-body .table tbody .action-list li a:before,
                    .panel .panel-body .table tbody .action-list li a:after {
                        content: attr(data-tip);
                        color: #fff;
                        background-color: #111;
                        font-size: 12px;
                        padding: 5px 7px;
                        border-radius: 4px;
                        text-transform: capitalize;
                        display: none;
                        transform: translateX(-50%);
                        position: absolute;
                        left: 50%;
                        top: -32px;
                        transition: all 0.3s ease 0s;
                    }

                    .panel .panel-body .table tbody .action-list li a:after {
                        content: '';
                        height: 15px;
                        width: 15px;
                        padding: 0;
                        border-radius: 0;
                        transform: translateX(-50%) rotate(45deg);
                        top: -18px;
                        z-index: -1;
                    }

                    .panel .panel-body .table tbody .action-list li a:hover:before,
                    .panel .panel-body .table tbody .action-list li a:hover:after {
                        display: block;
                    }

    .panel .panel-footer {
        color: #fff;
        background-color: transparent;
        padding: 15px;
        border: none;
    }

        .panel .panel-footer .col {
            line-height: 35px;
        }

.pagination {
    margin: 0;
}

    .pagination li a {
        color: #fff;
        background-color: transparent;
        border: 2px solid transparent;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 31px;
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0 3px;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
    }

        .pagination li a:hover {
            color: #fff;
            background-color: transparent;
            border-color: rgba(255,255,255,0.2);
        }

        .pagination li a:focus,
        .pagination li.active a,
        .pagination li.active a:hover {
            color: #fff;
            background-color: transparent;
            border-color: #fff;
        }

    .pagination li:first-child a,
    .pagination li:last-child a {
        border-radius: 50%;
    }

@media only screen and (max-width:767px) {
    .panel .panel-heading .title {
        text-align: center;
        margin: 0 0 10px;
    }

    .panel .panel-heading .btn_group {
        text-align: center;
    }
}*/