﻿
@{
    ViewData["Title"] = "SocialProtectionExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using PSPA.SDR.Application.Models.ViewModel;
}
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="col-md-12" style="width: 1239px; height: 78px; background-color: #1C232F; margin-top: -93px; margin-left: -15px; position: absolute; ">
        <h2 class="text-success text-amazon background-pattern" style="text-align: center; margin-top: 30px; color: white !important;">SINGLE DATA REPOSITORY </h2>
    </div>
    <div class="row">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

        <div class="col-md-12">
            <div class="row ">
                <div class="col-xl-3 col-lg-6" style=" margin-left: 51px;">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0" style="color:white">Cases (No of Records)</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0" style="color:white">
                                      @* @{ @ViewBag.AllData[0].Cases.ToString("C2").Replace("$","");}*@
                                       @Utility.ConvertIntegirToCurrencyString(@ViewBag.AllData[0].Cases)
                                    </h2>
                                </div>
                                <div class="col-4 text-right">
                                    @*<span>12.5% <i class="fa fa-arrow-up"></i></span>*@
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0" style="color:white">Cases (No of Records)</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0" style="color:white">
                                        @ViewBag.AllData[0].Cases
                                    </h2>
                                </div>
                                <div class="col-4 text-right">-->
                                    @*<span>9.23% <i class="fa fa-arrow-up"></i></span>*@
                                <!--</div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0" style="color:white">Beneficiaries (No CNIC)</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0" style="color:white">
                                         @Utility.ConvertIntegirToCurrencyString(@ViewBag.AllData[0].Beneficiaries)
                                    </h2>
                                </div>
                                <div class="col-4 text-right">
                                    @* <span>10% <i class="fa fa-arrow-up"></i></span>*@
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h6 class="display-6 text-primary" style="text-align: center; font-size:26px; "><b>Departmental Stats (Beneficiaries vs Cases)</b></h6>
        </div>
       
        <div class="col-md-12">
            <div class="container">
                @foreach (var employee in @ViewBag.departwise)
                {
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h5 style="color:white !important">@employee.DepartmentName</h5>
                                <p><b>Beneficiaries</b>  @Utility.ConvertIntegirToCurrencyString(@employee.Beneficiaries)<br /><b>Cases</b>  @Utility.ConvertIntegirToCurrencyString(@employee.Cases)</p>
                               @* <h2>Stats</h2>*@
                            </div>
                        </div>
                    </div>
                }
                </div>
        </div>
        <figure class="highcharts-figure">
            <div id="PIChartcontainer"></div>
            @*<p class="highcharts-description">
                All color options in Highcharts can be defined as gradients or patterns.
                In this chart, a gradient fill is used for decorative effect in a pie
                chart.
            </p>*@
        </figure>

        @*<div class="row">
            <h6 class="display-6 text-primary" style="text-align: center; font-size:26px; ">Programs Wise Sats</h6>
        </div>*@
        @*<div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="example" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th style=" position: sticky; top: 0;">Sr. No.</th>
                        <th style=" position: sticky; top: 0;">Department Name</th>
                    </tr>
                </thead>
                <tbody id="tdodyDept">
                    @{int i = 1;}
                    @foreach (var employee in @ViewBag.departments)
                    {
                        <tr>
                            <td>@i</td>
                            @{i++;
                            }

                            <td>@employee.Value</td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Department Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>*@

    </div>
        <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label"> Select Department</label>
                        <select name="departments" id="ddDepert" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.departments" style="padding:-0.425rem 1rem" onchange="getDatasets();"></select>
                    </div>
                </div>
                @*<div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label"> Select Program</label>
                        <select name="programs" id="ddProgram" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.programs" style="padding:-0.425rem 1rem" onchange="getDatasets();"></select>
                    </div>
                </div>*@
            </div>
        </form>
        <div class="row">
            <div class="row">
                <h6 class="display-6 text-primary" style="text-align: center; font-size:26px"><b>Programs Wise Sats</b></h6>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                @*<div class="container1" >
                    <div class="row" style="width:102%;">
                        <div class="col-md-offset-1 col-md-12" style="width:100%; max-width: none !important; flex: 100%; background-color: #090336">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col col-sm-3 col-xs-12">
                                            <h4 class="title">Data <span>List</span></h4>
                                        </div>
                                        <div class="col-sm-9 col-xs-12 text-right">
                                            <div class="btn_group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                                                <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                                <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Program</th>
                                                <th>Cases (no. of records)</th>
                                                <th>Beneficiaries (no. of CNICs)</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tdody">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <table id="example" style="border:1px" class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Program</th>
                            <th>Cases (no. of records)</th>
                            <th>Beneficiaries (no. of CNICs)</th>
                        </tr>
                    </thead>
                    <tbody id="tdody">
                    </tbody>
                    <tfoot>
                        @*<tr>
                            <th>Sr. No.</th>
                            <th>Program</th>
                            <th>Cases (no. of records)</th>
                            <th>Beneficiaries (no. of CNICs)</th>
                        </tr>*@
                    </tfoot>
                </table>
            </div>

        </div>
        @*<div class="row">

        </div>*@
        <div class="col-md-12 m-0">
            <figure class="highcharts-figure">
                <div id="container"></div>
                @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
            </figure>
        </div>

        <div class="col-md-12">
            <figure class="highcharts-figure">
                <div id="containerdepartmentWise"></div>
                @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
            </figure>
        </div>
    </div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/highcharts.js"></script>
<script src="../assets/js/plugins/data.js"></script>
<script src="../assets/js/plugins/highcharts-3d.js"></script>
<script src="../assets/js/pages/chart-highchart-custom.js"></script>
<script src="../assets/js/plugins/series-label.js"></script>
<script src="../assets/js/plugins/exporting.js"></script>
<script src="../assets/js/plugins/export-data.js"></script>
<script src="../assets/js/plugins/accessibility.js"></script>
<link href="~/css/Custom.css" rel="stylesheet" />
<!-- highchart chart -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
        });
        getDatasets();
        getDatasetsForDept();
      //  getDataDepartmentWise();
    });
    function getDatasets() {
        debugger;

        var departmentName = $('#ddDepert option:selected').val();
        //var programName = $('#ddProgram option:selected').val();
        var model = { "departmentName": departmentName, "programName":""};
       // var url = ``/home/FilterSdr?departmentName= ${departmentName} &programName=${programName}``;  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        var url = "/home/FilterSdr";
        $.post(url, model, function (response) {
          //  alert("success");
            debugger;
            var data = '';
            $('#tdody').empty();

            for (var res in response.response) {
                localStorage.setItem("data", JSON.stringify(response.response));
                data = data + '<tr> <td>' + response.response[res].srNo + '</td>  <td>' + response.response[res].programName + '</td> <td>' + response.response[res].cases + '</td> <td>' + response.response[res].beneficiaries + '</td></tr>'
            }
            $('#tdody').append(data);
            hightCharts(response.response);
        });
        //$.ajax({
        //    url: url,
        //    contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
        //    data: model,
        //    cache: false,
        //    type: "POST",
        //    success: function (response) {
        //        debugger;
        //        var data = '';
        //        $('#tdody').empty();

        //        for (var res in response) {
        //            localStorage.setItem("data", JSON.stringify(response));
        //            data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].ProgramName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
        //        }
        //        $('#tdody').append(data);
        //        hightCharts(response);
        //    },
        //    error: function (xhr) {

        //    }
        //});

    }
    function getProgramm() {
        debugger;

        var departmentName = $('#ddDepert option:selected').val();
        var model = { "departmentName": departmentName};
        var url = "/home/FilterProgramm";
        $.post(url, model, function (response) {
          //  alert("success");
            debugger;
            var data = '';
            $('#tdody').empty();

            for (var res in response) {
                localStorage.setItem("data", JSON.stringify(response));
                data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].programName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
            }
            $('#tdody').append(data);
            hightCharts(response);
        });
        //$.ajax({
        //    url: url,
        //    contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
        //    data: model,
        //    cache: false,
        //    type: "POST",
        //    success: function (response) {
        //        debugger;
        //        var data = '';
        //        $('#tdody').empty();

        //        for (var res in response) {
        //            localStorage.setItem("data", JSON.stringify(response));
        //            data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].ProgramName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
        //        }
        //        $('#tdody').append(data);
        //        hightCharts(response);
        //    },
        //    error: function (xhr) {

        //    }
        //});

    }

    function hightCharts(response) {
        debugger;
        var departmentName = $('#ddDepert option:selected').val();
        var categories = []; //cases
        var CasesbyProgram = [];
        var BenefibyProgram = [];
        for (var d in response) {
            comData = [response[d].cases];
            CasesbyProgram.push(comData);
            BenefibyProgram.push(response[d].beneficiaries);
            categories.push(response[d].programName);

        }
        Highcharts.chart('container', {
            title: {
                text: departmentName +' - Program Wise Beneficiaries'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: departmentName+' - Program Wise Beneficiaries'
                }
            },
            labels: {
                items: [{
                    html: 'TotalAggregated Expenses ',
                    style: {
                        left: '10px',
                        top: '8px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'Beneficiaries',
                data: BenefibyProgram
            }, {
                type: 'column',
                name: 'Cases',
                data: CasesbyProgram
            }, {
                type: 'pie',
                name: 'Total CNIC',
                data: [{
                    name: 'Beneficiaries',
                    y: 5,
                    color: Highcharts.getOptions().colors[0] // Jane's color
                }, {
                    name: 'Cases',
                    y: 6,
                    color: Highcharts.getOptions().colors[2] // John's color
                }],
                center: [30, 20],
                size: 30,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
        });
    }

    function getDataDepartmentWise() {

        var url = "/home/GetExpenditurePunjabDepartmentWise";  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        $.ajax({
            url: url,
            contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
            //data: model,
            cache: false,
            type: "GET",
            success: function (response) {
                var categories = []
                var data = [];
                for (var i in response) {
                    categories.push(response[i].departmentName);
                    data.push(response[i].total);
                }
                hightChartDepartmentWise(categories, data);
            },
            error: function (xhr) {

            }
        });
    }
    function hightChartDepartmentWise(categories, data) {
        debugger;
        var sum = 0.0;
        var departmentWiseData = [];
        for (var d in data) {

            comData = [categories[d], data[d]];
            departmentWiseData.push(comData);

        }
        Highcharts.chart('containerdepartmentWise', {
            title: {
                text: 'Department Wise Expenses'
            },
            xAxis: {
                categories: categories //['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Department Wise Expenses (in Billions)'
                }
            },
            labels: {
                items: [{
                    html: 'Total' + sum,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: departmentWiseData, //[parseFloat(response[0].expFrom2012To13), parseFloat(response[0].expFrom2013To14), parseFloat(response[0].expFrom2014To15), parseFloat(response[0].expFrom2015To16), parseFloat(response[0].expFrom2016To17), parseFloat(response[0].expFrom2017To18)],
                color: Highcharts.getOptions().colors[3],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },]
        });
    }
    
    // Build the chart
    function getDatasetsForDept() {
        debugger;
        var url = "/home/GetAllDeptData";
        $.post(url, function (response) {
            //alert(response);
            debugger;
            var dataofCombine = [];
            for (var d in response) {
                dataofCombine.push([response[d].departmentName, response[d].beneficiaries]);
            }
        
            //var finalData = JSON.stringify(dataof);
            Highcharts.chart('PIChartcontainer', {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45
                    }
                },
                title: {
                    text: 'Departmental Stats (Beneficiaries vs Cases)'
                },
                //subtitle: {
                //    text: '3D donut in Highcharts'
                //},
                plotOptions: {
                    pie: {
                        innerSize: 100,
                        depth: 45
                    }
                },
                series: [{
                    name: 'Departments',
                    data: dataofCombine
                }]
            });
        });
    }

   
</script>