﻿
@{
    ViewData["Title"] = "SocialProtectionExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="col-md-12">
    <h2 class="text-success text-amazon background-pattern" style="text-align: center">SINGLE DATA REPOSITORY </h2>
    <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label"> Select Department</label>
                    <select name="departments" id="ddDepert" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.departments" style="padding:-0.425rem 1rem" onchange="getProgramAnalyticsDate();"></select>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label"> Select Program</label>
                    <select name="programs" id="ddProgram" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.programs" style="padding:-0.425rem 1rem" onchange="getProgramAnalyticsDate();"></select>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="row">
            <h6 class="display-6 text-primary" style="text-align: center">Program Analytics</h6>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="example" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Program.</th>
                        <th>Cases/Registered Persons</th>
                        <th>Beneficiaries (no. of CNICs)</th>
                    </tr>
                </thead>
                <tbody id="tdody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Program.</th>
                        <th>Cases (no. of records)</th>
                        <th>Beneficiaries (no. of CNICs)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <h6 class="display-6 text-primary" style="text-align: center">District Wise</h6>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="example" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>District</th>
                        <th>Registered</th>
                        <th>Beneficiaries</th>
                    </tr>
                </thead>
                <tbody id="tdody2">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>District</th>
                        <th>Registered</th>
                        <th>Beneficiaries</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="row">

    </div>
    <div class="col-md-12">
        <figure class="highcharts-figure">
            <div id="container"></div>
            @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
        </figure>
    </div>

    <div class="col-md-12">
        <figure class="highcharts-figure">
            <div id="containerdepartmentWise"></div>
            @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
        </figure>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/highcharts.js"></script>
<script src="../assets/js/plugins/data.js"></script>
<script src="../assets/js/plugins/highcharts-3d.js"></script>
<script src="../assets/js/pages/chart-highchart-custom.js"></script>
<script src="../assets/js/plugins/series-label.js"></script>
<script src="../assets/js/plugins/exporting.js"></script>
<script src="../assets/js/plugins/export-data.js"></script>
<script src="../assets/js/plugins/accessibility.js"></script>
<link href="~/css/Custom.css" rel="stylesheet" />
@*style*@
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<!-- highchart chart -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
        });
        getProgramAnalyticsDate();
        // getDataDepartmentWise();
    });

    function getProgramAnalyticsDate() {
        debugger;

        var departmentName = $('#ddDepert option:selected').val();
        var programName = $('#ddProgram option:selected').val();
        var model = { "departmentName": departmentName, "programName": programName };
        // var url = ``/home/FilterSdr?departmentName= ${departmentName} &programName=${programName}``;  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        var url = "/home/ProgramWiseStates";
        $.post(url, model, function (response) {
            //  alert("success");
            debugger;
            var data = '';
            $('#tdody').empty();
            $('#tdody2').empty();
            for (var res in response.departmentWisePrograms) {
                localStorage.setItem("data", JSON.stringify(response));
                data = data + '<tr> <td>' + response.departmentWisePrograms[res].srNo + '</td>  <td>' + response.departmentWisePrograms[res].programName + '</td> <td>' + response.departmentWisePrograms[res].cases + '</td> <td>' + response.departmentWisePrograms[res].beneficiaries + '</td></tr>'
            }
            $('#tdody').append(data);
            var data = '';
            for (var res in response.districtWisePrograms) {
                localStorage.setItem("data", JSON.stringify(response));
                data = data + '<tr> <td>' + response.districtWisePrograms[res].srNo + '</td>  <td>' + response.districtWisePrograms[res].district + '</td> <td>' + response.districtWisePrograms[res].registeredPersons + '</td> <td>' + response.districtWisePrograms[res].beneficiaries + '</td></tr>'
            }
            $('#tdody2').append(data);
            hightCharts(response);
        });
        //$.ajax({
        //    url: url,
        //    contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
        //    data: model,
        //    cache: false,
        //    type: "POST",
        //    success: function (response) {
        //        debugger;
        //        var data = '';
        //        $('#tdody').empty();

        //        for (var res in response) {
        //            localStorage.setItem("data", JSON.stringify(response));
        //            data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].ProgramName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
        //        }
        //        $('#tdody').append(data);
        //        hightCharts(response);
        //    },
        //    error: function (xhr) {

        //    }
        //});

    }

    function hightCharts(response) {

        var categories = []; //cases
        var CasesbyProgram = [];
        for (var d in response) {
            comData = [response[d].programName, response[d].cases];
            CasesbyProgram.push(comData);
            categories.push(response[d].programName);

        }
        Highcharts.chart('container', {
            title: {
                text: 'Labour Depart - Program Wise Beneficiaries'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Labour Depart - Program Wise Beneficiaries'
                }
            },
            labels: {
                items: [{
                    html: 'TotalAggregated Expenses ' + total,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'Years',
                data: CasesbyProgram,
                color: Highcharts.getOptions().colors[5],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    x: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    }

    function getDataDepartmentWise() {

        var url = "/home/GetExpenditurePunjabDepartmentWise";  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        $.ajax({
            url: url,
            contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
            //data: model,
            cache: false,
            type: "GET",
            success: function (response) {
                var categories = []
                var data = [];
                for (var i in response) {
                    categories.push(response[i].departmentName);
                    data.push(response[i].total);
                }
                hightChartDepartmentWise(categories, data);
            },
            error: function (xhr) {

            }
        });
    }
    function hightChartDepartmentWise(categories, data) {
        debugger;
        var sum = 0.0;
        var departmentWiseData = [];
        for (var d in data) {

            comData = [categories[d], data[d]];
            departmentWiseData.push(comData);

        }
        Highcharts.chart('containerdepartmentWise', {
            title: {
                text: 'Department Wise Expenses'
            },
            xAxis: {
                categories: categories //['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Department Wise Expenses (in Billions)'
                }
            },
            labels: {
                items: [{
                    html: 'Total' + sum,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: departmentWiseData, //[parseFloat(response[0].expFrom2012To13), parseFloat(response[0].expFrom2013To14), parseFloat(response[0].expFrom2014To15), parseFloat(response[0].expFrom2015To16), parseFloat(response[0].expFrom2016To17), parseFloat(response[0].expFrom2017To18)],
                color: Highcharts.getOptions().colors[3],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },]
        });
    }
</script>

@*<script type="text/javascript">
        Highcharts.chart('container', {
            title: {
                text: 'Social Protection Expenses Report'
            },
            xAxis: {
                categories: ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            labels: {
                items: [{
                    html: 'Total CNIC',
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: [3, 2, 1, 3, 4],
                color: Highcharts.getOptions().colors[5]
            },{
                type: 'spline',
                name: 'Average',
                data: [3, 2.67, 3, 6.33, 3.33],
                marker: {
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[2],
                    fillColor: 'white'
                }
            }, {
                type: 'pie',
                name: 'Total',
                data: [{
                    name: 'In Active',
                    y: 13,
                    color: Highcharts.getOptions().colors[2] // Jane's color
                }],
                center: [100, 80],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
        });
    </script>*@