﻿
@{
    ViewData["Title"] = "SearchByCNIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="col-md-12" style="width: 1239px; height: 78px; background-color: #1C232F; margin-top: -93px; margin-left: -15px; position: absolute; ">
        <h2 class="text-success text-amazon background-pattern" style="text-align: center; margin-top: 30px; color: white !important;">SINGLE DATA REPOSITORY </h2>
    </div>
    <div class="row">
        @*<div class="row">
                <h6 class="display-6 text-primary" style="text-align: center">Programs Wise Sats</h6>
            </div>*@
        @*<div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table id="example" class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th style=" position: sticky; top: 0;">Sr. No.</th>
                            <th style=" position: sticky; top: 0;">Department Name</th>
                        </tr>
                    </thead>
                    <tbody id="tdodyDept">
                        @{int i = 1;}
                        @foreach (var employee in @ViewBag.departments)
                        {
                            <tr>
                                <td>@i</td>
                                @{i++;
                                }

                                <td>@employee.Value</td>
                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Department Name</th>
                        </tr>
                    </tfoot>
                </table>
            </div>*@

    </div>
    <form asp-controller="Home" asp-action="SearchByCNIC" method="post" class="form-horizontal" role="form">
        <div class="row" style="margin-top:50px">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label"><b>CNIC Number</b> </label>
                    <input type="number" placeholder="3478965853254" id="CNICNumber" maxlength="13" class="control-input col-md-5" style=" height: 38px;" />
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="button" value="Search" class="btn btn-danger" onclick="getDatasets()"  style="margin-left:-240px">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        @*@foreach (var employee in @ViewBag.searchData)
                {*@
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Name</b></span>
                    <div class="col-md-10">
                        <input type="text" id="Name"  disabled class="form-control" />
                       @* <input type="text" id="Name" value="@employee.Name" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Contact No.</b></span>
                    <div class="col-md-10">
                        <input type="text" id="contact"  disabled class="form-control" />
                       @* <input type="text" id="contact" value="@employee.ContactNo" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Depatment Name</b></span>
                    <div class="col-md-10">
                        <input type="text" id="DepatmentName"  disabled class="form-control" />
                       @* <input type="text" id="DepatmentName" value="@employee.DepartmentName" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Programm Name</b></span>
                    <div class="col-md-10">
                        <input type="text" id="ProgrammName"  disabled class="form-control" />
                       @* <input type="text" id="ProgrammName" value="@employee.ProgramName" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Gender</b></span>
                    <div class="col-md-10">
                        <input type="text" id="Gender"  disabled class="form-control" />
                      @*  <input type="text" id="Gender" value="@employee.Gender" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>District</b></span>
                    <div class="col-md-10">
                        <input type="text" id="District"  disabled class="form-control" />
                      @*  <input type="text" id="District" value="@employee.District" disabled class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"><b>Tehsil</b></span>
                    <div class="col-md-10">
                        <input type="text" id="Tehsil"  disabled class="form-control" />
                     @*   <input type="text" id="Tehsil" value="@employee.Tehsil" disabled class="form-control" />*@
                    </div>
                </div>
            </div>
        @*}*@
        </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/highcharts.js"></script>
<script src="../assets/js/plugins/data.js"></script>
<script src="../assets/js/plugins/highcharts-3d.js"></script>
<script src="../assets/js/pages/chart-highchart-custom.js"></script>
<script src="../assets/js/plugins/series-label.js"></script>
<script src="../assets/js/plugins/exporting.js"></script>
<script src="../assets/js/plugins/export-data.js"></script>
<script src="../assets/js/plugins/accessibility.js"></script>
<link href="~/css/Custom.css" rel="stylesheet" />
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    th {
        position: sticky;
        top: 0;
    }
</style>
<!-- highchart chart -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
        });
        getDatasets();
        //  getDataDepartmentWise();
    });
    function getDatasets() {
        debugger;
        var departmentName = $('#CNICNumber').val();
        //var programName = $('#ddProgram option:selected').val();
        var model = { "Cnic": departmentName, "programName": "" };
        // var url = ``/home/FilterSdr?departmentName= ${departmentName} &programName=${programName}``;  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        var url = "/home/SearchByCNICSingle";
        $.post(url, model, function (response) {
            //alert(response);
            debugger;
            $("#Name").val(response[0].name);
            $("#contact").val(response[0].contactNo);
            $("#DepatmentName").val(response[0].departmentName);
            $("#ProgrammName").val(response[0].programName);
            $("#Gender").val(response[0].gender);
            $("#District").val(response[0].district);
            $("#Tehsil").val(response[0].tehsil);
            var data = '';
            $('#tdody').empty();
        });

    } function getProgramm() {
        debugger;

        var departmentName = $('#ddDepert option:selected').val();
        var model = { "departmentName": departmentName };
        var url = "/home/FilterProgramm";
        $.post(url, model, function (response) {
            //  alert("success");
            debugger;
            var data = '';
            $('#tdody').empty();

            for (var res in response) {
                localStorage.setItem("data", JSON.stringify(response));
                data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].programName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
            }
            $('#tdody').append(data);
            hightCharts(response);
        });
        //$.ajax({
        //    url: url,
        //    contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
        //    data: model,
        //    cache: false,
        //    type: "POST",
        //    success: function (response) {
        //        debugger;
        //        var data = '';
        //        $('#tdody').empty();

        //        for (var res in response) {
        //            localStorage.setItem("data", JSON.stringify(response));
        //            data = data + '<tr> <td>' + response[res].srNo + '</td>  <td>' + response[res].ProgramName + '</td> <td>' + response[res].cases + '</td> <td>' + response[res].beneficiaries + '</td></tr>'
        //        }
        //        $('#tdody').append(data);
        //        hightCharts(response);
        //    },
        //    error: function (xhr) {

        //    }
        //});

    }

    function hightCharts(response) {
        debugger;
        var categories = []; //cases
        var CasesbyProgram = [];
        var BenefibyProgram = [];
        for (var d in response) {
            comData = [response[d].cases];
            CasesbyProgram.push(comData);
            BenefibyProgram.push(response[d].beneficiaries);
            categories.push(response[d].programName);

        }
        Highcharts.chart('container', {
            title: {
                text: 'Labour Depart - Program Wise Beneficiaries'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Labour Depart - Program Wise Beneficiaries'
                }
            },
            labels: {
                items: [{
                    html: 'TotalAggregated Expenses ',
                    style: {
                        left: '10px',
                        top: '8px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'Beneficiaries',
                data: BenefibyProgram
            }, {
                type: 'column',
                name: 'Cases',
                data: CasesbyProgram
            }, {
                type: 'pie',
                name: 'Total CNIC',
                data: [{
                    name: 'Beneficiaries',
                    y: 5,
                    color: Highcharts.getOptions().colors[0] // Jane's color
                }, {
                    name: 'Cases',
                    y: 6,
                    color: Highcharts.getOptions().colors[2] // John's color
                }],
                center: [30, 20],
                size: 30,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
            //series: [
            //    {
            //        type: 'column',
            //        name: 'Beneficiaries',
            //        data: BenefibyProgram,
            //        color: Highcharts.getOptions().colors[5],
            //        dataLabels: {
            //            enabled: true,
            //            rotation: -90,
            //            color: '#343684',
            //            align: 'right',
            //            format: '{point.y:.1f}', // one decimal
            //            x: 10, // 10 pixels down from the top
            //            style: {
            //                fontSize: '11px',
            //                fontFamily: 'Verdana, sans-serif'
            //            }
            //        }
            //    },{
            //    type: 'column',
            //    name: 'Cases',
            //    data: CasesbyProgram,
            //    color: Highcharts.getOptions().colors[5],
            //    dataLabels: {
            //        enabled: true,
            //        rotation: -90,
            //        color: '#FFFFFF',
            //        align: 'right',
            //        format: '{point.y:.1f}', // one decimal
            //        x: 10, // 10 pixels down from the top
            //        style: {
            //            fontSize: '11px',
            //            fontFamily: 'Verdana, sans-serif'
            //        }
            //    }
            //}]
        });
    }

    function getDataDepartmentWise() {

        var url = "/home/GetExpenditurePunjabDepartmentWise";  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        $.ajax({
            url: url,
            contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
            //data: model,
            cache: false,
            type: "GET",
            success: function (response) {
                var categories = []
                var data = [];
                for (var i in response) {
                    categories.push(response[i].departmentName);
                    data.push(response[i].total);
                }
                hightChartDepartmentWise(categories, data);
            },
            error: function (xhr) {

            }
        });
    }
    function hightChartDepartmentWise(categories, data) {
        debugger;
        var sum = 0.0;
        var departmentWiseData = [];
        for (var d in data) {

            comData = [categories[d], data[d]];
            departmentWiseData.push(comData);

        }
        Highcharts.chart('containerdepartmentWise', {
            title: {
                text: 'Department Wise Expenses'
            },
            xAxis: {
                categories: categories //['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Department Wise Expenses (in Billions)'
                }
            },
            labels: {
                items: [{
                    html: 'Total' + sum,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: departmentWiseData, //[parseFloat(response[0].expFrom2012To13), parseFloat(response[0].expFrom2013To14), parseFloat(response[0].expFrom2014To15), parseFloat(response[0].expFrom2015To16), parseFloat(response[0].expFrom2016To17), parseFloat(response[0].expFrom2017To18)],
                color: Highcharts.getOptions().colors[3],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },]
        });
    }
</script>

@*<script type="text/javascript">
        Highcharts.chart('container', {
            title: {
                text: 'Social Protection Expenses Report'
            },
            xAxis: {
                categories: ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            labels: {
                items: [{
                    html: 'Total CNIC',
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: [3, 2, 1, 3, 4],
                color: Highcharts.getOptions().colors[5]
            },{
                type: 'spline',
                name: 'Average',
                data: [3, 2.67, 3, 6.33, 3.33],
                marker: {
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[2],
                    fillColor: 'white'
                }
            }, {
                type: 'pie',
                name: 'Total',
                data: [{
                    name: 'In Active',
                    y: 13,
                    color: Highcharts.getOptions().colors[2] // Jane's color
                }],
                center: [100, 80],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
        });
    </script>*@