﻿
@{
    ViewData["Title"] = "SocialProtectionExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="col-md-12" style="width: 1239px; height: 78px; background-color: #1C232F; margin-top: -93px; margin-left: -15px; position: absolute; ">
        <h2 class="text-success text-amazon background-pattern" style="text-align: center; margin-top: 30px; color: white !important;">SINGLE DATA REPOSITORY </h2>
    </div>
    <h2 class="text-success text-amazon background-pattern" style="text-align: center">Social Protection Expenses</h2>
    <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label"> Select Department</label>
                    <select name="departments" id="ddDepert" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.departments" style="padding:-0.425rem 1rem" onchange="getSocialProtectionDate();">
                        <option value="-1" selected>All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label"> Select Program</label>
                    <select name="programs" id="ddProgram" class="form-control dropdown-item border border-primary" asp-items="@ViewBag.programs" style="padding:-0.425rem 1rem" onchange="getSocialProtectionDate();">
                        <option value="-1" selected>All</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="row">
            <h6 class="display-6 text-primary" style="text-align: center">Social Protection Expenses Report (in Billions)</h6>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="example" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th style=" position: sticky; top: 0;">Sr. No.</th>
                        <th style=" position: sticky; top: 0;">Department</th>
                        <th style=" position: sticky; top: 0;">Program</th>
                        <th style=" position: sticky; top: 0;">2012-13</th>
                        <th style=" position: sticky; top: 0;">2013-14</th>
                        <th style=" position: sticky; top: 0;">2014-15</th>
                        <th style=" position: sticky; top: 0;">2015-16</th>
                        <th style=" position: sticky; top: 0;">2016-17</th>
                        <th style=" position: sticky; top: 0;">2017-18</th>
                        <th style=" position: sticky; top: 0;">Total</th>
                    </tr>
                </thead>
                <tbody id="tdody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Department</th>
                        <th>Program</th>
                        <th>2012-13</th>
                        <th>2013-14</th>
                        <th>2014-15</th>
                        <th>2015-16</th>
                        <th>2016-17</th>
                        <th>2017-18</th>
                        <th>Total</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="col-md-12 mt-0">
        <figure class="highcharts-figure">
            <div id="container"></div>
            @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
        </figure>
    </div>

    <div class="col-md-12">
        <figure class="highcharts-figure">
            <div id="containerdepartmentWise"></div>
            @*<p class="highcharts-description">
                    Chart showing how different series types can be combined in a single
                    chart. The chart is using a set of column series, overlaid by a line and
                    a pie series. The line is illustrating the column averages, while the
                    pie is illustrating the column totals.
                </p>*@
        </figure>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/highcharts.js"></script>
<script src="../assets/js/plugins/data.js"></script>
<script src="../assets/js/plugins/highcharts-3d.js"></script>
<script src="../assets/js/pages/chart-highchart-custom.js"></script>
<script src="../assets/js/plugins/series-label.js"></script>
<script src="../assets/js/plugins/exporting.js"></script>
<script src="../assets/js/plugins/export-data.js"></script>
<script src="../assets/js/plugins/accessibility.js"></script>
<link href="~/css/Custom.css" rel="stylesheet" />
<!-- highchart chart -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
        });
        getSocialProtectionDate();
        getDataDepartmentWise();
    });

    function getSocialProtectionDate() {
        debugger;
        
        var departmentId = $('#ddDepert option:selected').val();
        var programId = $('#ddProgram option:selected').val();
        var model = { "departmentId": departmentId, "programId": programId };
        var url = "/home/FilterExpenditurePunjab?departmentId=" + departmentId + "&programId=" + programId;  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        $.ajax({
            url: url,
            contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
            //data: model,
            cache: false,
            type: "GET",
            success: function (response) {
                debugger;
                var data = '';
                $('#tdody').empty();

                for (var res in response) {
                    localStorage.setItem("data", JSON.stringify(response));
                    data = data + '<tr> <td>' + response[res].id + '</td>  <td>' + response[res].deptName + '</td> <td>' + response[res].programName + '</td> <td>' + response[res].expFrom2012To13 + '</td> <td>' + response[res].expFrom2013To14 + '</td> <td>' + response[res].expFrom2014To15 + '</td> <td>' + response[res].expFrom2015To16 + '</td>'
                        + '<td>' + response[res].expFrom2016To17 + '</td> <td>' + response[res].expFrom2017To18 + '</td> <td>' + response[res].expTotal + '</td></tr>'
                }
                $('#tdody').append(data);
               hightCharts(response);
            },
            error: function (xhr) {

            }
        });
       
    }

    function hightCharts(response) {
        var total = parseFloat(response[0].expFrom2012To13)+ parseFloat(response[0].expFrom2013To14)+ parseFloat(response[0].expFrom2014To15)+ parseFloat(response[0].expFrom2015To16)+ parseFloat(response[0].expFrom2016To17)+ parseFloat(response[0].expFrom2017To18);

        Highcharts.chart('container', {
            title: {
                text: 'Social Protection Expenses Report'
            },
            xAxis: {
                categories: ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Social Protection Expenses Report(in Billions)'
                }
            },
            labels: {
                items: [{
                    html: 'TotalAggregated Expenses ' + total,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'Years',
                data: [parseFloat(response[0].expFrom2012To13), parseFloat(response[0].expFrom2013To14), parseFloat(response[0].expFrom2014To15), parseFloat(response[0].expFrom2015To16), parseFloat(response[0].expFrom2016To17), parseFloat(response[0].expFrom2017To18)],
                color: Highcharts.getOptions().colors[5],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    x: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    }

    function getDataDepartmentWise() {

        var url = "/home/GetExpenditurePunjabDepartmentWise";  //http://localhost:7190/home/FilterExpenditurePunjabByIdAsync    http://localhost:7190/api/SocialProtection
        $.ajax({
            url: url,
            contentType: 'JSON', //application/x-www-form-urlencoded; charset=UTF-8
            //data: model,
            cache: false,
            type: "GET",
            success: function (response) {
                var categories = []
                var data = [];
                for (var i in response) {
                    categories.push(response[i].departmentName);
                    data.push(response[i].total);
                }
                hightChartDepartmentWise(categories, data);
            },
            error: function (xhr) {

            }
        });
    }
    function hightChartDepartmentWise(categories, data) {
        debugger;
        var sum = 0.0;
        var departmentWiseData = [];
        for (var d in data) {

            comData = [categories[d], data[d]];
            departmentWiseData.push(comData);

        }
        Highcharts.chart('containerdepartmentWise', {
            title: {
                text: 'Department Wise Expenses'
            },
            xAxis: {
                categories: categories //['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Department Wise Expenses (in Billions)'
                }
            },
            labels: {
                items: [{
                    html: 'Total' + sum,
                    style: {
                        left: '50px',
                        top: '18px',
                        color: ( // theme
                            Highcharts.defaultOptions.title.style &&
                            Highcharts.defaultOptions.title.style.lineColor
                        ) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'In Active',
                data: departmentWiseData, //[parseFloat(response[0].expFrom2012To13), parseFloat(response[0].expFrom2013To14), parseFloat(response[0].expFrom2014To15), parseFloat(response[0].expFrom2015To16), parseFloat(response[0].expFrom2016To17), parseFloat(response[0].expFrom2017To18)],
                color: Highcharts.getOptions().colors[3],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },]
        });
    }
</script>

@*<script type="text/javascript">
    Highcharts.chart('container', {
        title: {
            text: 'Social Protection Expenses Report'
        },
        xAxis: {
            categories: ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
        },
        labels: {
            items: [{
                html: 'Total CNIC',
                style: {
                    left: '50px',
                    top: '18px',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.lineColor
                    ) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'In Active',
            data: [3, 2, 1, 3, 4],
            color: Highcharts.getOptions().colors[5]
        },{
            type: 'spline',
            name: 'Average',
            data: [3, 2.67, 3, 6.33, 3.33],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[2],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total',
            data: [{
                name: 'In Active',
                y: 13,
                color: Highcharts.getOptions().colors[2] // Jane's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
</script>*@